* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

body {
    background-color: #e6f2ff;
}

/* Header */
header.head_box {
    display: flex;
    justify-content: space-between;
    background-color: #0066ff;
    margin: 5px 15px;
    padding: 10px 2rem;
    border: none;
    outline: none;
    border-radius: 20rem;
    position: relative;
    z-index: 1;
}

h1.head {
    font-size: 35px;
    color: #ffffff;
}

a.about {
    font-size: 20px;
    text-decoration: none;
    color: #0066ff;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

a.about:focus , a.about:hover {
    color: #000000;
    box-shadow: 0px 0px 0px 4px rgba(0, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 255, 255, 0.5);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 255, 255, 0.5);
}

/* Login */
section.login_box {
    margin-top: 8%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.login{
    width: 35%;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    border: none;
    outline: none;
    border-radius: 20px;
    padding-bottom: 25px;
    background-color: #fff;
}

h1.login_head {
    font-size: 28px;
    color: #0066ff;
    margin: 20px; 
}

input.inpt {
    font-size: 15px;
    display: block;
    width: 70%;
    margin: 15px auto;
    padding: 5px 15px;
    border: 3px solid #0066ff;
    border-radius: 25px;
    outline: none;
}

input.inpt:hover , input.inpt:focus {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
}

div.btn_box {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

button.btn {
    padding: 7px 15px;
    width: 40%;
    margin: auto 12px;
    font-size: 15px;
    color: #ffffff;
    background-color: #0066ff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

button.btn:hover , button.btn:focus {
    color: #000000;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
}

div.reg_box {
    margin-top: 40px;
}

a.reg {
    text-decoration: none;
    margin: auto 25px;
    color: #0066ff;
    text-align: center;
}

a.reg:hover {
    color: #000000;
    text-decoration: underline;
}

/* Signin */
section.sign_box {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

div.sign {
    width: 35%;
    background-color: #e6f2ff;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-bottom: 25px;
    position: relative;
}

h1.sign_head {
    font-size: 28px;
    color: #0066ff;
    margin: 20px;
}

a.close {
    text-decoration: none;
    font-size: 30px;
    border: none;
    outline: none;
    position: absolute;
    top: 2px;
    right: 12px;
}

input.inpt_reg {
    font-size: 15px;
    display: block;
    width: 70%;
    margin: 15px auto;
    padding: 5px 15px;
    border: 3px solid #0066ff;
    border-radius: 25px;
    outline: none;
}

input.inpt_reg:hover , input.inpt_reg:focus {
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
}

div.sign_btn_box {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

button.sign_btn {
    padding: 7px 15px;
    width: 40%;
    margin: auto 12px;
    font-size: 15px;
    color: #ffffff;
    background-color: #0066ff;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
}

button.sign_btn:hover , button.sign_btn:focus {
    color: #000000;
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -moz-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(0, 0, 255, 0.4);
}